extends layout

block head
    link(href="/css/signin.css", rel="stylesheet")
    |<!--[if lt IE 9]><script src="/js/ie8-responsive-file-warning.js"></script><![endif]-->
    script(src="/js/ie-emulation-modes-warning.js")
    script(src="/js/ie10-viewport-bug-workaround.js")
    |<!--[if lt IE 9]><script src="/js/html5shiv.min.js"></script><script src="/js/respond.min.js"></script><![endif]-->

block body
  form.form-signin(role="form", method="post")
    h2.form-signin-heading Please sign in
    input.form-control(type="password", name="pwd", placeholder="Password", required, autofocus)
    button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
