extends layout

block head
  |<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  link(rel="stylesheet", href="/css/blueimp-gallery.min.css")
  link(rel="stylesheet", href="/css/bootstrap-image-gallery.css")
  link(rel="stylesheet", href="/css/main.css")

block body
  h1 !{title}
  .nav
    button.btn.btn-default.prev-page(type="button") 上一页
    button.btn.btn-primary.next-page(type="button") 下一页
  #links
  #blueimp-gallery.blueimp-gallery
    .slides
    h3.title
    a.prev ‹
    a.next ›
    a.close x
    a.play-pause
    ol.indicator
    .modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", aria-hidden="true") &times;
            h4.modal-title
          .modal-body.next
          .modal-footer
            button.btn.btn-default.pull-left.prev(type="button")
              i.glyphicon.glyphicon-chevron-left
              != Previous
            button.btn.btn-primary.next(type="button")
              != Next
              i.glyphicon.glyphicon-chevron-right

block script
  script(src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js")
  script(src="http://cdn.bootcss.com/bootstrap/3.0.2/js/bootstrap.min.js")
  script(src="/js/jquery.blueimp-gallery.min.js")
  script(src="/js/bootstrap-image-gallery.js")
  script.
    var currentPage = 1;
    var loadPics = function(page) {
      $.ajax({
          url: '/data/?p=' + page,
      }).done(function(result) {
          currentPage = page;
          var linksContainer = $('#links');
          var linksObject =document.getElementById('links');
          linksObject.innerHTML = '';
          $.each(result.photos, function(index, photo) {
              $('<a/>')
                  .append($('<img>').prop('src', photo.replace(/\/origin\/|\/compress\//, '/square/')).prop('width', 75).prop('height', 75))
                  .prop('href', photo)
                  .prop('title', 'img')
                  .attr('data-gallery', '')
                  .appendTo(linksContainer);
          });
      });
    }
    loadPics(currentPage);
    $('.prev-page').click(function() {
      if(currentPage === 1) return alert("已经第一页");
      currentPage--;
      loadPics(currentPage);
    });
    $('.next-page').click(function() {
      currentPage++;
      loadPics(currentPage);
    });
